[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/tinyobjloader"]
	path = 3rd/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "3rd/tinyxml2"]
	path = 3rd/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rd/stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
